@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    --bgColor: #e5e5e5;
}

html.dark body {
    --bgColor: #1e1e1e;
    background: var(--bgColor);
    color: #fff;
}

html.doodle body {
    background: url("../assets/doodle-light.png") repeat center center,
        var(--bgColor);
}

html.doodle.dark body {
    background: url("../assets/doodle-dark.jpg") repeat center center,
        var(--bgColor);
}

@layer utilities {
    .hover-card-wrapper .hover-card::after {
        opacity: 0;
    }
    .hover-card-wrapper:hover .hover-card::after {
        opacity: 1;
    }
    .hover-card {
        @apply relative p-[1px] hover:before:opacity-100 before:z-[4] after:z-[2];
    }
    .hover-card .hover-card-content {
        @apply relative z-[3] rounded-[inherit];
    }
    .hover-card::before,
    .hover-card::after {
        @apply content-[""] h-full opacity-0 absolute transition-opacity duration-500 w-full pointer-events-none rounded-[inherit] left-0 top-0;
    }
    .dark .hover-card::before {
        background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.1),
            transparent 40%
        );
    }
    .dark .hover-card::after {
        background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%
        );
    }
    .hover-card::before {
        background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(0, 0, 0, 0.06),
            transparent 40%
        );
    }
    .hover-card::after {
        @apply opacity-100;
        background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(0, 0, 0, 0.4),
            transparent 40%
        );
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html ::-webkit-scrollbar {
    width: 10px;
    background: #f0f0f0;
}

html ::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 20px;
}

html.dark ::-webkit-scrollbar {
    width: 10px;
    background: #222;
}

html.dark ::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 20px;
}

@keyframes slideOff {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(110%);
    }
}

button {
    transition: transform 0.4s cubic-bezier(0.5, 0.01, 0.26, 1.91);
}

button:active {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

.firebase-emulator-warning {
    display: none !important;
}

pre,
code {
    white-space: break-spaces;
}

.wmde-markdown table tr:nth-child(n) {
    background-color: inherit !important;
}
